:root {
  --primary: #933393;
  --white: white;
  --dark-magenta: #732873;
  --orange: #f99d1c;
  --dark-orange: #f28820;
  --e0e0e0: #e0e0e0;
  --solid-black: #121212;
  --black: #333;
  --696969: dimgrey;
  --white-2: #fafafa;
  --primary-hover: #77287d;
  --primary-pressed: #4a194a;
  --393939: #393939;
  --lavender-blush: #fff4ff;
  --grayscale--50: #c2c2c2;
  --light-purple: #e9d6e9;
  --primary-magenta60: #915d90;
  --corporate--main: #411793;
  --grayscale--40: #e0e0e0;
  --secondary--background: #fff6ec;
  --corporate--background: #f9f0ff;
  --secondary--main: var(--orange);
  --secondary--hover: #f18720;
  --corporate--pressed: #22045c;
  --corporate--border: #7143bc;
  --secondary--border: #fddeb3;
  --corporate--focused: #f0d9ff;
  --grayscale--20: whitesmoke;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* [START] NAVBAR */
.menu-desktop-v2 {
  z-index: 2;
  width: 100%;
  min-height: 72px;
  background-color: #fff;
  display: block;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.menu-container-desktop-v2 {
  height: 72px;
  max-width: 1110px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  flex-flow: row;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.menu-image-logo-desktop-v2 {
  height: 34px;
}

.menu-items-desktop-v2 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.menu-program-desktop-v2,
.menu-corporate-desktop-v2,
.menu-job-desktop-v2,
.menu-literasi-desktop-v2,
.menu-tentang-desktop-v2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #933393;
  cursor: pointer;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  font-family: Causten semi, sans-serif;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

.w-icon-dropdown-toggle {
  width: 1em;
  height: 1em;
  margin: auto 20px auto auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.menu-program-arrow-desktop-v2 {
  margin-right: 0;
  position: static;
}

.w-icon-dropdown-toggle {
  width: 1em;
  height: 1em;
  margin: auto 20px auto auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.menu-corporate-arrow-desktop-v2 {
  margin-right: 0;
  display: block;
  position: static;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.symbol-newnavbar-div-menu-karier,
.symbol-newnavbar-div-menu-promo {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #933393;
  cursor: pointer;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  font-family: Causten semi, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: none;
}

.menu-tentang-desktop-v2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #933393;
  cursor: pointer;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  font-family: Causten semi, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.w-icon-dropdown-toggle {
  width: 1em;
  height: 1em;
  margin: auto 20px auto auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.menu-tentang-arrow-desktop-v2 {
  margin-right: 0;
  display: block;
  position: static;
}

.menu-my-learning-desktop-v2.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
  height: auto;
  letter-spacing: normal;
  text-indent: 0;
  background-color: #933393;
  border-radius: 8px;
  padding: 13px 24px;
  font-family: Causten semi, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

/* [END] NAVBAR */

/* [START] AREA HERO */
.page-home-hero-section-copy {
  z-index: 1;
  background-color: var(--white);
  color: var(--primary);
  object-fit: fill;
  padding-top: 50px;
  padding-bottom: 90px;
  position: relative;
}

.page-home-hero-section-copy.orange {
  background-color: var(--orange);
  color: var(--black);
  position: relative;
}

.page-home-hero-section-copy.orange.light-gradient {
  background-image: linear-gradient(
      164deg,
      #ffcc32,
      rgba(248, 156, 27, 0.8)
    ),
    url(https://assets-global.website-files.com/5e70b9a…/611dd47…_half%20binar.svg);
  background-position: 0 0, 100%;
  background-repeat: repeat, no-repeat;
  background-size: auto, contain;
}

.page-home-hero-section-copy.orange.light-gradient.hero {
  z-index: 1;
  color: var(--solid-black);
  background-image: linear-gradient(
      70deg,
      #761a79,
      #9f27a3
    ),
    url(https://assets-global.website-files.com/5e70b9a…/61a5a2d…_half%20-%20logo%20binar%20padi.svg);
  background-position: 0 0, 100%;
  background-size: auto, cover;
  padding-top: 136px;
  padding-bottom: 145px;
  position: relative;
}

.w-container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.home-container-desc-hero {
  z-index: 2;
  width: 90%;
  max-width: 1110px;
  position: relative;
}

.home-container-desc-hero.w-container {
  z-index: 2;
  width: 90%;
  max-width: 1110px;
  position: relative;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.home-grid-desc-hero {
  width: 60%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  display: block;
}

.home-div-desc-hero {
  width: 600px;
  object-fit: fill;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: static;
}

.home-div-halonic {
  margin-bottom: 10px;
  display: flex;
}

.haloniq {
  border-radius: 10px;
  margin-right: 10px;
}

.home-para-halonic-para._16px.center-align {
  align-self: center;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.center-align {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.home-para-halonic-para {
  margin-bottom: 20px;
}

.home-para-halonic-para._16px {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.home-para-halonic-para._16px.center-align {
  align-self: center;
}

a {
  background-color: transparent;
}

.page-home-hero-top-50-link {
  color: var(--white);
  text-decoration: none;
}

.page-home-hero-heading {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 32px;
  /* font-family: Causten, sans-serif; */
  font-size: 30px;
  font-weight: 700;
  /* line-height: 80px; */
}

.text-span-27 {
  color: var(--white);
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.page-home-hero-grid {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  display: grid;
}

.page-home-hero-grid.vertical-hero {
  width: 100%;
  grid-row-gap: 15px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: stretch;
}

.home-div-hero-belajar-desc {
  width: 100%;
  object-fit: fill;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: static;
}

.home-div-hero-belajar-desc.padding-10px {
  padding: 10px;
}

.home-div-hero-belajar-desc.padding-10px.transparent-white {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.home-div-hero-belajar-desc.padding-10px.transparent-white.horizontal {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  align-items: center;
}

.page-home-hero-button-wrapper {
  width: 150px;
  flex-direction: column;
  display: flex;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.binar-button-medium-orange-primary {
  color: var(--solid-black);
  text-align: center;
  background-color: #f99d1c;
  border-radius: 8px;
  padding: 13px 24px;
  font-family: Causten semi, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;
}

.home-txt-belajar-desc {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
  position: relative;
  top: auto;
}

.home-txt-belajar-desc._16px {
  font-size: 16px;
  line-height: 24px;
}

.home-txt-belajar-desc.no-margin {
  margin-bottom: 0;
}

.home-txt-belajar-desc._16px.no-margin {
  color: var(--white);
  margin-bottom: 0;
}

.home-div-hero-partner-desc {
  width: 100%;
  object-fit: fill;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: static;
}

.home-div-hero-partner-desc.padding-10px {
  padding: 10px;
}

.home-div-hero-partner-desc.padding-10px.transparent-white {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

.home-div-hero-partner-desc.padding-10px.transparent-white.horizontal {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  align-items: center;
}

.page-home-hero-button-wrapper {
  width: 150px;
  flex-direction: column;
  display: flex;
}

.home-txt-berpartner-desc {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
  position: relative;
  top: auto;
}

.home-txt-berpartner-desc._16px {
  font-size: 16px;
  line-height: 24px;
}

.home-txt-berpartner-desc.no-margin {
  margin-bottom: 0;
}

.home-txt-berpartner-desc._16px.no-margin {
  color: var(--white);
  margin-bottom: 0;
}

.home-div-hero-images {
  z-index: 5;
  width: 40vw;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  overflow: hidden;
}

a {
  color: var(--primary);
  text-decoration: underline;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.home-hero-lightbox {
  z-index: 10;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.hero-images {
  width: auto;
  height: 100%;
}

.hero-images.mobile {
  display: none;
}

.home-play-video {
  width: 100px;
  position: absolute;
}

svg:not(:root) {
  overflow: hidden;
}

:not(svg) {
  transform-origin: 0px 0px;
}

/* [END] AREA HERO */

.dampak-binar-indonesia {
  color: var(--primary);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 54px;
}

.total-course {
  color: var(--primary);
}

.button-primary-outline {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #933393;
  border-radius: 8px;
  align-items: center;
  padding: 17px 16px;
  display: flex;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.link-block-20.w-inline-block {
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  text-decoration: none;
  display: flex;
  color: var(--primary);
}

/* [START - JELAJAHI KURSUS] */

/* custom color binar */
.text-binar {
  color: var(--primary);
}

.bg-binar {
  background-color: var(--primary-pressed);
  color: var(--white);
}

/* carousel */
#jelajahi-course-body__carousel {
  position: relative;
}

.btn-outline-binar {
  border-color: var(--primary);
  color: var(--primary);
  background-color: var(--white);
}

.course_button {
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 20px;
  font-weight: 700;
  line-height: 22px;
}

.course_button:hover {
  border: 2px solid #f89c1b;
  background: #f89c1b;
  color: #000;
}

.course_button_active {
  border: 2px solid #f89c1b;
  background: #f89c1b;
  color: #000;
}

.owl-item.active {
  width: auto !important;
}

.owl-prev.disabled,
.owl-next.disabled {
  display: none !important;
}

#jelajahi-course-body__card {
  margin-top: -30px;
}

/* card body */
.card {
  height: 100%;
}

#jelajahi-course-body-card-card-course__course-header
  img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.home-course-dt-course-date {
  color: var(--orange);
  font-weight: 700;
}

#card-type {
  background-color: var(--orange);
  color: var(--black);
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.card-text__title {
  color: #fff;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
}

.card-text__body {
  font-size: 16px;
  line-height: 24px;
}

.price {
  color: var(--orange);
  margin-top: auto;
  padding-top: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

#normal_price {
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: line-through;
}

#binar-button-course {
  color: var(--solid-black);
  text-align: center;
  background-color: #f99d1c;
  border-radius: 8px;
  padding: 17px 24px;
  font-family: Causten semi, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;
}

#btn-next-category-carousel {
  width: 32px;
  height: 32px;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(50%);
  box-shadow: 0 -1px 10px 1px rgba(0, 0, 0, 0.25);
}

#btn-prev-category-carousel {
  width: 32px;
  height: 32px;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  left: -1%;
  transform: translate(50%);
  transform: rotate(180deg);
  box-shadow: 0 -1px 10px 1px rgba(0, 0, 0, 0.25);
}

/* [END - JELAJAHI KURSUS] */

/* [start-metode belajar] */
.section-purple {
  background-color: #77287d;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 90px;
}

.table {
  background-color: transparent;
  --bs-table-bg: none !important;
}

.table > :not(caption) > * > * {
  color: white !important;
}

.baris {
  background-color: transparent;
}
/* [END - metode belajar] */

/* start jangkauan */
.section-jangkauan {
  background-color: white;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-jangkauan {
  color: #77287d;
}

#text-map {
  align-items: stretch;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding-top: 0;
  display: flex;
}
.page-home-map-text {
  color: #f99d1c;
  margin-right: 16px;
  font-size: 55px;
  font-weight: 700;
  line-height: 48px;
}

.page-home-map-text-desktop {
  max-width: 227px;
}

/* end jangkauan */

/* start sertif */
#teks-sertif {
  color: #77287d;
  font-size: 36px;
  line-height: 54px;
}

#btn-sertif {
  color: #77287d;
  background-color: transparent;
}
/* end sertif */

.page-home-looking-job-section {
  background-color: var(--orange);
  padding-top: 64px;
  padding-bottom: 0;
  position: relative;
}

.page-home-container {
  z-index: 2;
  width: 90%;
  height: 100%;
  max-width: 1110px;
  position: relative;
}

.page-home-looking-job-description {
  color: var(--solid-black);
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page-home-looking-job-button {
  display: inline-block;
}

.w-layout-grid {
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.page-home-looking-job-content {
  text-align: center;
  padding-bottom: 64px;
}

.page-home-looking-job-heading {
  color: var(--solid-black);
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 54px;
}

h2 {
  font-weight: 700;
}

.page-home-looking-job-image {
  width: 621px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-home-looking-job-section {
  background-color: var(--orange);
  padding-top: 64px;
  padding-bottom: 0;
  position: relative;
}

/* [END] Perlu Dicariin Kerja? */

/* [START] Kenali Potensi Quiz */
.home-container-miniquiz {
  z-index: 2;
  width: 90%;
  height: 100%;
  max-width: 1110px;
  display: block;
  position: relative;
}

.binar-heading.h2 {
  font-family: Causten semi, sans-serif;
}

.binar-heading {
  margin-top: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.binar-heading.h2.title-mini-quiz {
  color: #933393;
  margin-bottom: 0;
}

.page-home-miniquiz-section {
  display: block;
}

.heading-23.desc-mini-quiz {
  color: var(--696969);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.heading-23 {
  font-weight: 400;
}

.page-home-miniquiz-section {
  z-index: 1;
  background-color: var(--white);
  color: var(--primary);
  object-fit: fill;
  padding-top: 64px;
  padding-bottom: 64px;
  display: block;
  position: relative;
}

.gzuDOh {
  padding-block: 32px;
}

.hMEawv *,
.hMEawv ::before,
.hMEawv ::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

.jErhGw {
  text-align: center;
}

.hMEawv {
  font-family: inherit;
  color: rgb(68, 68, 68);
  font-size: 16px;
  line-height: 24px;
}

.mini-quiz-iframe-block {
  position: unset;
  width: 100%;
  height: 100%;
}

/* <!-- [END] Kenali Potensi Quiz --> */

/* [START] APA KATA MEREKA */
.page-home-alumni-heading {
  color: var(--primary);
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 54px;
}

h2 {
  font-weight: 700;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-home-alumni-sub-heading {
  color: var(--696969);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page-home-alumni-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 48px;
}

.w-layout-grid {
  grid-auto-columns: 1fr;
  display: grid;
}

.page-home-alumni-card {
  border: 1px solid var(--e0e0e0);
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  display: flex;
  box-shadow: 4px 4px 24px
    rgba(224, 224, 224, 0.35);
}

.home-container-alumni-stories {
  z-index: 2;
  width: 90%;
  max-width: 1110px;
  position: relative;
  height: 100%;
}

.page-home-alumni-testimony-bold {
  color: #732873;
  font-weight: 700;
}

.page-home-alumni-testimony {
  color: var(--696969);
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-home-alumni-profile-photo {
  width: 64px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* [END] APA KATA MEREKA

/* [START - KAMPUS PARTNER] */
.symbol-campus-logo-image {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.kampus-parter__heading,
.pembicara-ahli__heading {
  font-size: 36px;
}

.pembicara-ahli__sub-heading {
  color: var(--696969);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.pembicara-ahli__name {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.description-job,
.description-company {
  font-size: 14px;
  line-height: 20px;
}

.owl-item,
.owl-item.active {
  width: auto !important;
}

.kampus_partner_card {
  width: 200px !important;
}

.kampus_partner_card .card:hover {
  background-color: var(--primary);
  color: var(--white);
}

.jelajahi_course_carousel
  .owl-stage-outer
  .owl-stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -5px;
}

.owl-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal */
.symbol-speaker-popup-close {
  width: 24px;
  height: 24px;
}

.modal-pembicara-ahli__name {
  color: var(--primary);
  font-size: 20px;
  font-weight: 700;
}

.modal-pembicara-ahli__job {
  font-size: 16px;
  font-weight: normal;
}

.symbol-speaker-popup-linkedin {
  width: 24px;
  height: 24px;
}

/* Modal */

/* [END - KAMPUS PARTNER] */

/* [START] BINAR UNTUK CORPORATE */
.page-home-corporate-section.purple {
  background-color: var(--primary-hover);
  color: var(--white);
  padding-top: 64px;
  padding-bottom: 64px;
}

.page-home-corporate-container {
  z-index: 2;
  width: 90%;
  max-width: 1110px;
  position: relative;
}

.w-container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.page-home-corporate-block.center {
  flex-flow: column;
  flex: 0 auto;
  order: 0;
  align-content: center;
  justify-content: flex-start;
  align-self: auto;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  display: flex;
}

.page-home-corporate-heading.h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 46px;
  display: block;
}

.page-home-corporate-sub-heading {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page-home-corporate-grid.top-gap {
  align-items: end;
  margin-top: 32px;
}

.page-home-corporate-grid {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  display: grid;
}

.page-home-corporate-card {
  background-color: var(--white);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  display: flex;
}

.page-home-corporate-card-title {
  color: var(--primary);
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 54px;
}

.page-home-corporate-card-description {
  color: var(--696969);
  text-align: center;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}

.binar-button-large-purple-primary {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  border-radius: 8px;
  padding: 17px 24px;
  font-family: Causten semi, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;
}

.page-home-corporate-card {
  background-color: var(--white);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  display: flex;
}

.page-home-corporate-card-description {
  color: var(--696969);
  text-align: center;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}

/* [END] BINAR UNTUK CORPORATE */

/* [START] MENGAJAR DI BINAR */
.page-home-teach-section {
  background-color: var(--orange);
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.page-home-teach-grid {
  grid-template-rows: auto;
  align-items: end;
}

.page-home-teach-content {
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
}

.page-home-teach-heading {
  color: var(--solid-black);
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 54px;
  font-weight: bold !important;
}

.page-home-teach-description {
  color: var(--solid-black);
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* [END] MENGAJAR DI BINAR */

/* [START] BERITA PILIHAN KAMI */
.page-home-news-section {
  background-color: var(--white);
  padding-top: 64px;
  padding-bottom: 64px;
}

.home-container-news {
  z-index: 2;
  width: 90%;
  max-width: 1110px;
  position: relative;
}

.home-container-news.w-container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  padding: 0;
  display: flex;
}

.home-div-news {
  width: 100%;
  object-fit: fill;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: static;
}

.home-div-news.center {
  flex-flow: column;
  flex: 0 auto;
  order: 0;
  align-content: center;
  justify-content: flex-start;
  align-self: auto;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  display: flex;
}

.page-home-news-heading {
  color: var(--primary);
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 54px;
}

.page-home-news-sub-heading {
  color: var(--696969);
  font-size: 16px;
  line-height: 24px;
}

.w-slider {
  height: 300px;
  text-align: start;
  clear: both;
  -webkit-tap-highlight-color: transparent;
  /* tap-highlight-color: transparent; */
  background: #ddd;
  position: relative;
}

.home-slider-news {
  width: 100%;
  background-color: transparent;
  margin-top: 20px;
}

.home-slider-news.news {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 64px;
}

.w-slider-mask {
  z-index: 1;
  height: 100%;
  white-space: nowrap;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

.w-slide {
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
  display: inline-block;
  position: relative;
}

.div-block-14 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.image-9 {
  z-index: 2;
  width: 350px;
  height: 200px;
  min-height: 200px;
  min-width: 350px;
  object-fit: cover;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 8px;
  position: relative;
}

.page-home-news-content {
  z-index: 1;
  width: 635px;
  height: 100%;
  min-width: 635px;
  border: 2px solid rgba(51, 51, 51, 0);
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px 0 100px;
  display: flex;
  position: relative;
  right: 60px;
}

.page-home-news-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.page-home-news-description {
  color: var(--696969);
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: var(--primary);
  text-decoration: underline;
}

.page-home-news-link {
  margin-bottom: 10px;
  font-weight: 700;
}

.div-block-14 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
}

.w-slider-aria-label {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.w-slider-arrow-left,
.w-slider-arrow-right {
  width: 80px;
  cursor: pointer;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  /* tap-highlight-color: transparent; */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  font-size: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.w-slider-arrow-left {
  z-index: 3;
  right: auto;
}

.left-arrow-2 {
  color: var(--primary);
  display: flex;
}

slider-arrow-right {
  width: 80px;
  cursor: pointer;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  /* tap-highlight-color: transparent; */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  font-size: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.w-slider-arrow-right {
  z-index: 4;
  left: auto;
}

.right-arrow-2 {
  color: var(--primary);
  display: flex;
}

.page-home-news-arrow-right {
  transform: rotate(180deg);
}

.w-slider-nav {
  z-index: 2;
  height: 40px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  /* tap-highlight-color: transparent; */
  margin: auto;
  padding-top: 10px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.w-slider-nav-invert {
  color: #fff;
}

.page-home-news-slide-nav {
  font-size: 10px;
  top: auto;
  bottom: -20%;
  left: 0%;
  right: 0%;
}

.w-slider-dot {
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 3px 0.5em;
  transition: background-color 0.1s, color 0.1s;
  display: inline-block;
  position: relative;
}

.w-slider-nav-invert > div {
  background-color: rgba(34, 34, 34, 0.4);
}

.w-slider-dot.w-active {
  background-color: #fff;
}

.page-home-news-slide-nav .w-slider-dot {
  width: 8px;
  height: 8px;
  background-color: #c26d19;
}

.page-home-news-slide-nav .w-slider-dot {
  background-color: #e0e0e0;
}

.w-slider-nav.w-round > div {
  border-radius: 100%;
}

.w-slider-nav-invert > div.w-active {
  background-color: #222;
}

.page-home-news-slide-nav .w-slider-dot.w-active {
  background-color: #933393;
}

/* [END] BERITA PILIHAN KAMI */

/* [START] PUNYA PERTANYAAN LEBIH LANJUT */
.symbol-join-binarian-section {
  z-index: 1;
  background-color: var(--white);
  color: var(--primary);
  object-fit: fill;
  padding-top: 0;
  padding-bottom: 32px;
  position: relative;
}

.symbol-join-binarian-container {
  width: 90%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.komunitas-cont.center {
  flex-flow: column;
  flex: 0 auto;
  order: 0;
  align-content: center;
  justify-content: flex-start;
  align-self: auto;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  display: flex;
}

.div-state {
  width: 100%;
  object-fit: fill;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: static;
}

.div-state.contact-horizontal {
  background-color: #e9d6e9;
  border-radius: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 16px 20px;
}

.punya-pertanyaan {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
  position: relative;
  top: auto;
}

.punya-pertanyaan._16px {
  font-size: 16px;
  line-height: 24px;
}

.punya-pertanyaan.no-margin {
  margin-bottom: 0;
}

.punya-pertanyaan._16px.no-margin {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.binar-button-medium-purple-primary {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  border-radius: 8px;
  padding: 13px 24px;
  font-family: Causten semi, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;
}

/* [END] PUNYA PERTANYAAN LEBIH LANJUT */

/* [START] Perlu Dicariin Kerja? */
.page-home-looking-job-section {
  background-color: var(--orange);
  padding-top: 64px;
  padding-bottom: 0;
  position: relative;
}

.page-home-container {
  z-index: 2;
  width: 90%;
  height: 100%;
  max-width: 1110px;
  position: relative;
}

.page-home-looking-job-description {
  color: var(--solid-black);
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page-home-looking-job-button {
  display: inline-block;
}

.w-layout-grid {
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.page-home-looking-job-content {
  text-align: center;
  padding-bottom: 64px;
}

.page-home-looking-job-heading {
  color: var(--solid-black);
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 54px;
}

h2 {
  font-weight: 700;
}

.page-home-looking-job-image {
  width: 621px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-home-looking-job-section {
  background-color: var(--orange);
  padding-top: 64px;
  padding-bottom: 0;
  position: relative;
}

/* [END] Perlu Dicariin Kerja? */

/* [START] Kenali Potensi Quiz */
.home-container-miniquiz {
  z-index: 2;
  width: 90%;
  height: 100%;
  max-width: 1110px;
  display: block;
  position: relative;
}

.binar-heading.h2 {
  font-family: Causten semi, sans-serif;
}

.binar-heading {
  margin-top: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.binar-heading.h2.title-mini-quiz {
  color: #933393;
  margin-bottom: 0;
}

.page-home-miniquiz-section {
  display: block;
}

.heading-23.desc-mini-quiz {
  color: var(--696969);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.heading-23 {
  font-weight: 400;
}

.page-home-miniquiz-section {
  z-index: 1;
  background-color: var(--white);
  color: var(--primary);
  object-fit: fill;
  padding-top: 64px;
  padding-bottom: 64px;
  display: block;
  position: relative;
}

.gzuDOh {
  padding-block: 32px;
}

.hMEawv *,
.hMEawv ::before,
.hMEawv ::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

.jErhGw {
  text-align: center;
}

.hMEawv {
  font-family: inherit;
  color: rgb(68, 68, 68);
  font-size: 16px;
  line-height: 24px;
}

.mini-quiz-iframe-block {
  position: unset;
  width: 100%;
  height: 100%;
}


/* <!-- [END] Kenali Potensi Quiz --> */

/* [START] APA KATA MEREKA */
.page-home-alumni-heading {
  color: var(--primary);
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 54px;
}

h2 {
  font-weight: 700;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-home-alumni-sub-heading {
  color: var(--696969);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page-home-alumni-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 48px;
}

.w-layout-grid {
  grid-auto-columns: 1fr;
  display: grid;
}

.page-home-alumni-card {
  border: 1px solid var(--e0e0e0);
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  display: flex;
  box-shadow: 4px 4px 24px rgba(224, 224, 224, .35);
}


.home-container-alumni-stories {
  z-index: 2;
  width: 90%;
  max-width: 1110px;
  position: relative;
  height: 100%;
}

.page-home-alumni-testimony-bold {
  color: #732873;
  font-weight: 700;
}

.page-home-alumni-testimony {
  color: var(--696969);
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-home-alumni-profile-photo {
  width: 64px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* [END] APA KATA MEREKA

/* [START] FOOTER */
.footer-main-container {
  z-index: 1;
  background-color: var(--white);
  color: var(--primary);
  object-fit: fill;
  padding-top: 50px;
  padding-bottom: 90px;
  position: relative;
}

.footer-main-container.footer {
  border-top: 1px solid var(--grayscale--50);
  color: var(--primary);
  background-color: #ededed;
  padding-top: 32px;
  padding-bottom: 0;
}

.footer-inner-cont {
  z-index: 2;
  width: 90%;
  max-width: 1110px;
  position: relative;
}

.footer-logo-cont {
  width: 100%;
  object-fit: fill;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: static;
}

.download-app-div {
  width: 648px;
  background-color: var(--grayscale--40);
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 16px 24px;
  display: flex;
}

.text-body-regular {
  color: var(--solid-black);
  font-size: 16px;
  line-height: 20px;
}

.text-body-bold {
  color: var(--solid-black);
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.grid-state.footer-apps {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.app-link {
  width: 100%;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.app-image {
  width: 100%;
  height: 32px;
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.div-block-232 {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  margin-top: 24px;
  display: flex;
}

.div-block-226 {
  width: 419px;
}

.div-block-227 {
  border-bottom: 2px solid var(--grayscale--50);
  padding-bottom: 24px;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.flex-block {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.sdg-point {
  height: 80px;
}

.div-block-229 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  margin-top: 24px;
  display: flex;
}

.heading-h4-semi-bold {
  color: var(--solid-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}

.heading-h4-semi-bold.footer {
  margin-bottom: 8px;
}

.company-contact-div {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.heading-h5-semi-bold {
  color: var(--solid-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.div-block-230 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
}

.text-body-regular {
  color: var(--solid-black);
  font-size: 16px;
  line-height: 20px;
}

.text-body-regular.copyright.mobile {
  display: none;
}

.heading-h5-semi-bold.color-primary-main {
  color: var(--primary);
  text-decoration: none;
}

.div-block-231 {
  flex: 1;
}

.comp-footer-grid {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 24px;
  grid-template:
    "."
    "." 1fr/1fr 1fr auto;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-items: center;
  display: grid;
}

.footer-column {
  width: 100%;
  object-fit: fill;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: static;
}

.footer-column.left {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.footer-menu-cont {
  width: 100%;
  object-fit: fill;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: static;
}

.footer-menu-cont.link-holder {
  grid-column-gap: 43px;
  grid-row-gap: 43px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
}

.footer-column {
  width: 100%;
  object-fit: fill;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
  position: static;
}

.footer-column.left {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

a {
  display: block;
  text-decoration: none !important;
}

.footer-sosmed {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-top: 2px solid #c2c2c2;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  padding-top: 18px;
  padding-bottom: 66px;
  text-decoration: none;
  display: flex;
  position: static;
}

.sosmed-text-cont-mobile {
  display: none;
}

.text-block-74 {
  color: #333;
  text-align: right;
  font-size: 16px;
}

.grid-sosmed-mobile {
  width: 100%;
  grid-template:
    "Area Area-2 Area-3 Area-4 Area-5" 3fr/1fr minmax(
      50px,
      50px
    )
    minmax(50px, 50px) minmax(50px, 50px) minmax(50px, 50px);
  grid-auto-flow: column;
  display: none;
}

.grid-sosmed-desktop {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template: "Area Area-2 Area-3 Area-4 Area-5" 3fr/1fr auto auto auto auto;
  grid-auto-flow: column;
  align-items: center;
}

.div-block-225 {
  justify-content: space-between;
  margin-right: 38px;
  display: flex;
}

.div-block-228 {
  justify-content: flex-end;
  display: flex;
}

.sdg-logo {
  width: 200px;
}

/* [END] FOOTER */
