:root {
  --primary: #933393;
  --white: white;
  --dark-magenta: #732873;
  --orange: #f99d1c;
  --dark-orange: #f28820;
  --e0e0e0: #e0e0e0;
  --solid-black: #121212;
  --black: #333;
  --696969: dimgrey;
  --white-2: #fafafa;
  --primary-hover: #77287d;
  --primary-pressed: #4a194a;
  --393939: #393939;
  --lavender-blush: #fff4ff;
  --grayscale--50: #c2c2c2;
  --light-purple: #e9d6e9;
  --primary-magenta60: #915d90;
  --corporate--main: #411793;
  --grayscale--40: #e0e0e0;
  --secondary--background: #fff6ec;
  --corporate--background: #f9f0ff;
  --secondary--main: var(--orange);
  --secondary--hover: #f18720;
  --corporate--pressed: #22045c;
  --corporate--border: #7143bc;
  --secondary--border: #fddeb3;
  --corporate--focused: #f0d9ff;
  --grayscale--20: whitesmoke;
}

/* [START - JELAJAHI KURSUS] */

/* custom color binar */
.text-binar {
  color: var(--primary);
}

.bg-binar {
  background-color: var(--primary-pressed);
  color: var(--white);
}

/* carousel */
#jelajahi-course-body__carousel {
  position: relative;
}

.btn-outline-binar {
  border-color: var(--primary);
  color: var(--primary);
  background-color: var(--white);
}

.course_button {
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 20px;
  font-weight: 700;
  line-height: 22px;
}

.course_button_active {
  border: 2px solid #f89c1b;
  background: #f89c1b;
  color: #000;
}

/* card body */
.card {
  height: 100%;
}

#jelajahi-course-body-card-card-course__course-header img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.home-course-dt-course-date {
  color: var(--orange);
  font-weight: 700;
}

#card-type {
  background-color: var(--orange);
  color: var(--black);
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.card-text__title {
  color: #fff;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
}

.card-text__body {
  font-size: 16px;
  line-height: 24px;
}

.price {
  color: var(--orange);
  margin-top: auto;
  padding-top: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

#normal_price {
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: line-through;
}

#binar-button-course {
  color: var(--solid-black);
  text-align: center;
  background-color: #f99d1c;
  border-radius: 8px;
  padding: 17px 24px;
  font-family: Causten semi, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
}

#btn-next-category-carousel {
  width: 32px;
  height: 32px;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(50%);
  box-shadow: 0 -1px 10px 1px rgba(0, 0, 0, .25);
}

#btn-prev-category-carousel {
  width: 32px;
  height: 32px;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  left: 0%;
  transform: translate(50%);
  transform: rotate(180deg);
  box-shadow: 0 -1px 10px 1px rgba(0, 0, 0, .25);
}

/* [END - JELAJAHI KURSUS] */